@model IEnumerable<Product>

    <style>

     .bg-color {
      background-color: #808080;
      opcaity: 1;
      font-size: 30px;
     }

     a {
     color: yellow;
     }

     .low-qty{
         color: red;
     }

     


    </style>

<div class="bg-color">
   
<div class = "a">


<h2>Products</h2>

<div style="display: block">
    <a href="/Product/InsertProduct/">Create a New Product</a>
</div>

      

<table class="table">
    <tr>

        <th>Pick List</th>
        <th>UPC</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>QTY</th>
        <th>Zone</th>
        <th>Isle</th>
        <th>Add to PL</th>

    </tr>

    @foreach (var product in @Model)
    {
        <tr>
            <td><input type="checkbox" name="selectedProducts" value="@product.UPC" /></td>
            <td><a href=/Product/ViewProduct/@product.UPC>@product.UPC</a></td>

            

            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Category</td>
            <td class="@(product.QTY < 25 ? "low-qty" : "")">@product.QTY</td>
            <td>@product.Zone</td>
            <td>@product.Isle</td>
             <td><input type="number" name="quantity-@product.UPC" min="1" max="@product.QTY" value="0" /></td>
        </tr>
    }

            <input type="submit" value="Add to Pick List" />


</table>

</div>
</div>