@model IEnumerable<Product>
@inject IProductRepository _repo


<style>
    .bg-color {
        background-color: #808080;
        opcaity: 1;
        font-size: 30px;
    }

    a {
        color: yellow;
    }

    .low-qty {
        color: red;
    }
</style>

<div class="bg-color">

    <div class="a">

        <h2 style="text-align: center;">Products</h2>

        <div style="display: block">
            <a href="/Product/InsertProduct/">Create a New Product</a>
        </div>

        @*<div style="display: block">
            <a href="/Product/IndexPick/">View Pick List</a>
        </div>*@

       

        <table class="table">
            <tr>

                
                <th>UPC</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>QTY</th>
                <th>Zone</th>
                <th>Isle</th>
               

            </tr>

          

          


            @foreach (var product in @Model)
            {
                
                <tr>
                    
                    <td><a href=/Product/ViewProduct/@product.UPC>@product.UPC</a></td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Category</td>
                    <td class="@(product.QTY < 25 ? "low-qty" : "")">@product.QTY</td>
                    <td>@product.Zone</td>
                    <td>@product.Isle</td>
                    
                </tr>
            }
        </table>

    </div>
</div>




